.movie_list_container {
    display: flex;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
}

@media only screen and (max-width: 972px) {
    .movie_list_container {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
}