.movie_filters {
    display:flex;
    justify-content: center;
    padding: 30px;
}

.movie_filters_input{
    max-width: 600px; 
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.movie_filters_input:focus {
    border-color: #2980b9;
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.6);
    outline: none;
}

.movie_filters_input::placeholder {
    color: #95a5a6;
    opacity: 1;
}