.movie_card {
    display: flex;
    max-width: 300px;
    border: 1px solid rgba(75, 64, 64, 0.791);
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(75, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
}

.movie_card_details_container {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    gap: 8px;
}

.movie_card_detail{
    display: flex;
    gap: 8px;
    align-items: center;
}

.movie_card_data {
    font-size: 20px;
    font-weight: 700;
}

.movie_card_poster {
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease;
    width: 100%;
}

.movie_card_poster:hover {
    transform: scale(1.1);
  }

@media only screen and (max-width: 500px) {
.movie_card {
    min-width: 270px;
    max-width: min-content;
}
  }